/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }

  &-title {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
  }

  &-subtitle {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    margin: 0 0 22px 0;
    text-align: center;
  }
}
